<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>convert money</h1>
<form action="/convert" method="post" th:object="${money}">
    <div>
        <span>Enter USD:</span>
        <input th:field="*{usd}">
    </div>
    <div>
        <span>Enter Rate</span>
        <input th:field="*{rate}">
    </div>
    <div>
        <input type="submit" value="convert">
    </div>
</form>
<div>
    <h1>
        <span th:text="${money.getUsd()}"></span>
        USD ~ <span th:text="${money.getVnd()}">VND</span>
    </h1>
</div>
</body>
</html>